/*-- scss:defaults --*/
$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
#title-block-header > h1 .title {
  color: dodgerblue;
}
$presentation-heading-color: lighten($theme-darkblue, 15%);
$font-family-sans-serif: "Zen Kaku Gothic New", serif;
$presentation-heading-font: "Klee One", serif;

/*-- scss:rules --*/
